<% @photos.each do |photo| %>
<div class="post hentry <%= photo.id %>">
  <% min, mid, max = sort_images_by_size photo.images %>
  <div class="thumbnail entry-summary">
    <div class="photo">
      <%= link_to (photo_image_tag min, photo),
                  max.url,
                  :rel => 'bookmark',
                  :onclick => "showFullPost(#{photo.id}); return false;" %>
    </div>
  </div>
  <div class="full entry-content">
    <div class="photo">
      <%= link_to (photo_image_tag mid, photo),
                  max.url,
                  :rel => 'external nofollow' %>
    </div>
    <div class="username author">
      <%= link_to photo.user.username, "/user/#{photo.user.id}" %>
    </div>
    <div class="token_at updated">
      <%= photo.taken_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
    <% if photo.likers.length > 0 %>
    <div class="likers">
      <% photo.likers.each do |liker| %>
      <span class="liker">
        <%= link_to liker.username, "/user/#{liker.id}" %>
      </span>, likes this
      <% end %>
    </div>
    <% end %>
    <div class="comments">
      <% photo.comments.each do |comment| %>
      <p class="comment">
        <span class="text">
          <%= comment.text %>
        </span>
        <span class="username">
          <%= link_to comment.user.username, "/user/#{photo.user.id}" %>
        </span>
        <span class="created_at">
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
        </span>
      </p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
