<% content_for :atom_url, "/popular.atom" %>
<div id="header">
  <h1><%= link_to 'Instagram Viewer', '/' %></h1>
  <h2><%= @title %></h2>
  <div id="find">
    <%= form_tag :action => :find do %>
    <p><%= text_field_tag :url %></p>
    <p><%= submit_tag "Find User by Permalink" %></p>
    <% end %>
    <% if flash[:notice] %>
    <p class="notice"><%= nl2br flash[:notice] %></p>
    <% end %>
  </div>
</div>
<div id="content" class="photos hfeed">
<%= render :partial => 'photos', :object => @photos %>
</div>
